

.experience-card {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(243, 240, 240);
    margin: 10px 20px;
    padding: 12px;
}

.experience-card h3 {
    font-size: 28px;
}

.experience-card h4 {
    font-weight: lighter;
    font-size: 22px;
}

.experience-card p {
    font-size: 20px;
}

/* customize more later */
img {
    height: 120px;
    width: auto;
    border-radius: 10%;
}