body {
  margin: 0;
}

.top-bar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-bar h1 {
  font-size: 28px;
  font-weight: bold;
  padding-left: 10px;
}

.top-bar .links {
  padding-right: 10px;
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding-right: 12px;
}

.selected {
  font-weight: bold;
}

.top-bar a:hover {
  text-decoration: underline;
}
