@import "tailwindcss";

/* Base tweaks */
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-brand: var(--color-amber-600);
}

::selection {
  background-color: rgb(245 158 11 / 0.18);
}

html, body, #root {
  height: 100%;
}

:root.dark {
  color-scheme: dark;
}